.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
    width: 800px;
}

.container > div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello1 {
    width: 50px;
    padding: 10px;
    border-radius: 15%;
    border: #26a1bf solid 1px;
    background-color: #26a1bf;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    transition: 300ms;
}

.hello1:hover {
    background-color: #edf4f5;
    color: #26a1bf;
}

.hello2 {
    width: 80px;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color:#26a1bf;
    transition: 300ms;
}

.hello2:hover {
    border-top: solid #26a1bf 3px;
    border-bottom: #26a1bf solid 3px;
    letter-spacing: 3px;
}

.hello3 {
    width: 50px;
    padding: 10px;
    border-radius: 15%;
    border: #26a1bf solid 1px;
    background-color: #edf4f5;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    color:#26a1bf;
    transition: 300ms;
}

.hello3:hover {
    background-color: #26a1bf;
    color: #edf4f5;
}

.hamburger {
    height: 100px;
    width: 100px;
    border: solid black 1px;
    transition: 300ms;
}

.hamburger > :first-child {
    height: 10px;
    width: 65px;
    background-color: black;
    transform: translate(17px, -15px);
    transition: 300ms;
}

.hamburger > :nth-child(2) {
    height: 10px;
    width: 65px;
    background-color: black;
    transform: translate(17px, 0px);
}

.hamburger > :nth-child(3) {
    height: 10px;
    width: 65px;
    background-color: black;
    transform: translate(17px, 15px);
    transition: 300ms;
}

.hamburger:hover {
    height: 100px;
    width: 100px;
    background-color: black;
}

.hamburger:hover > :first-child{
    height: 10px;
    width: 65px;
    background-color: white;
    transform: translate(17px, 10px) rotate(45deg);
    z-index: 1;
}

.hamburger:hover > :nth-child(2) {
    height: 10px;
    width: 65px;
}

.hamburger:hover > :nth-child(3) {
    height: 10px;
    width: 65px;
    background-color: white;
    transform: translate(17px, -10px) rotate(315deg);
}

.arrow {
    height: 100px;
    width: 100px;
    border: solid black 1px;
    transition: 300ms;
}

.arrow > :first-child {
    height: 10px;
    width: 65px;
    background-color: black;
    transform: translate(17px, -15px);
    transition: 300ms;
}

.arrow > :nth-child(2) {
    height: 10px;
    width: 65px;
    background-color: black;
    transform: translate(17px, 0px);
    transition: 300ms
}

.arrow > :nth-child(3) {
    height: 10px;
    width: 65px;
    background-color: black;
    transform: translate(17px, 15px);
    transition: 300ms;
}

.arrow:hover {
    height: 100px;
    width: 100px;
    background-color: black;
}

.arrow:hover > :first-child {
    height: 10px;
    width: 55px;
    background-color: white;
    transform: translate(8px, -6px)  rotate(315deg);
}

.arrow:hover > :nth-child(2) {
    height: 10px;
    width: 65px;
    background-color: white;
    transform: translate(17px, 0px);
}

.arrow:hover > :nth-child(3) {
    height: 10px;
    width: 55px;
    background-color: white;
    transform: translate(8px, 6px) rotate(45deg);
}

.circle {
    height: 100px;
    width: 100px;
    border: solid black 1px;
    transition: 300ms;
}

.circle > :first-child {
    height: 10px;
    width: 65px;
    background-color: black;
    transform: translate(17px, -15px);
    transition: 300ms;
}

.circle > :nth-child(2) {
    height: 10px;
    width: 65px;
    background-color: black;
    transform: translate(17px, 0px);
    transition: 300ms
}

.circle > :nth-child(3) {
    height: 10px;
    width: 65px;
    background-color: black;
    transform: translate(17px, 15px);
    transition: 300ms;
}

.circle:hover {
    height: 100px;
    width: 100px;
    background-color: black;
}

.circle:hover > :first-child {
    height: 10px;
    width: 50px;
    background-color: white;
    transform: translate(25px, 45px) rotate(45deg);
    z-index: 1;
}

.circle:hover > :nth-child(2) {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: solid white 10px;
    transform: translate(7px, 0px);
}

.circle:hover > :nth-child(3) {
    height: 10px;
    width: 50px;
    background-color: white;
    transform: translate(25px, -45px) rotate(315deg);
}

.domo-kitten {
    height: 250px;
    width: 200px;
    border: solid black 1px;
    position: relative;
    overflow: hidden;
}

.domo-kitten > img {
    width: 420px;
    position: absolute;
    left: -110px;
    top: -40px;
    transition: 1000ms;
}

.domo-kitten:hover > img {
    width: 600px;
    position: absolute;
    left: -200px;
    top: -100px;
    transform: rotate(25deg);
}

.domo-kitten > .Div {
    width: 160px;
    height: 40px;
    background-color: whitesmoke;
    transform: translate(250px, 80px);
    z-index: 1;
    transition: 1000ms;
}

.domo-kitten > .Div > h1 {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    transform: translate(-10px, -43px);
    transition: 1000ms;
}

.domo-kitten > .Div > div {
    width: 0;
    height: 0;
    border-top: 20px solid whitesmoke;
    border-left: 20px solid transparent;
    border-bottom: 20px solid whitesmoke;
    transform: translate(-20px, 0px);
    transition: 1000ms;
}

.domo-kitten:hover > .Div {
    width: 160px;
    height: 40px;
    background-color: whitesmoke;
    transform: translate(60px, 80px);
    z-index: 1;
    transition: 1000ms;
}

.domo-kitten:hover > .Div > h1 {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    transform: translate(-10px, -43px);
    transition: 1000ms;
}

.domo-kitten:hover > .Div > div {
    width: 0;
    height: 0;
    border-top: 20px solid whitesmoke;
    border-left: 20px solid transparent;
    border-bottom: 20px solid whitesmoke;
    transform: translate(-20px, 0px);
    transition: 1000ms;
}



.domo-kitten > .div {
    width: 160px;
    height: 40px;
    background-color: whitesmoke;
    transform: translate(60px, 120px);
    z-index: 1;
    transition: 1000ms;
}

.domo-kitten > .div > h1 {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    transform: translate(-10px, -43px);
    transition: 1000ms;
}

.domo-kitten > .div > div {
    width: 0;
    height: 0;
    border-top: 20px solid whitesmoke;
    border-left: 20px solid transparent;
    border-bottom: 20px solid whitesmoke;
    transform: translate(-20px, 0px);
    transition: 1000ms;
}

.domo-kitten:hover > .div {
    width: 160px;
    height: 40px;
    background-color: whitesmoke;
    transform: translate(250px, 120px);
    z-index: 1;
    transition: 1000ms;
}

.domo-kitten:hover > .div > h1 {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    transform: translate(-10px, -43px);
    transition: 1000ms;
}

.domo-kitten:hover > .div > div {
    width: 0;
    height: 0;
    border-top: 20px solid whitesmoke;
    border-left: 20px solid transparent;
    border-bottom: 20px solid whitesmoke;
    transform: translate(-20px, 0px);
    transition: 1000ms;
}

.domo-kitten > .domo-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #f26b61;
    z-index: 1;
    transform: translate(-85px, -185px);
    transition: 1000ms;
}

.domo-kitten > .domo-circle > p {
    font-size: 23px;
    font-family: sans-serif;
    text-align: center;
    color: whitesmoke;
    transform: translate(0px, 15px)
}

.domo-kitten:hover > .domo-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #f26b61;
    z-index: 1;
    transform: translate(-15px, -110px);
}